<!DOCTYPE html>
<html>
<head>
	<title></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div class="navbar-fixed">
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!">New York</a></li>
      <li><a href="#!">Oregon</a></li
      <li><a href="#!">Yosemite</a></li>
      <li><a href="#!">Grand Canyon</a></li>
    </ul>
    <nav class="grey">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"><%= image_tag "arrow.png", class: :"logo valign-wrapper" %></a>
        <ul class="left hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Travel<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="#">Lifestyle</a></li>
          <li><a href="#">Fashion</a></li>
          <li><a href="#">Posts</a></li>
          <% if current_user.admin %>
            <li><a href="/posts/new">New Post</a></li>
          <% end %>
        </ul>
        <ul class="valign-wrapper right hide-on-med-and-down">
          <!-- <li><a href="/users/new">Register</a></li> -->

          <!-- <li><a href="/sessions/new" id="login" href="">Login</a></li> -->
          <!-- <li><a href="/sessions/destroy" id="login" href="">Logout</a></li> -->
          <li><a href="https://www.instagram.com/brewingadventure/" target="_blank"><img class="icon" src="http://image.flaticon.com/icons/png/128/37/37108.png" /></a></li>
          <li><a href="https://www.facebook.com/brewingadventure/?fref=ts" target="_blank"><%= image_tag "fblogo.png", class: :"icon" %></a></li>
          <li><a href="https://twitter.com/BrewinAdventure" target="_blank"><img class="icon" src="http://image.flaticon.com/icons/png/128/8/8800.png" /></a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="text-italic grey lighten-2 jumbo">
        <h2 id="blog-name">Brewing Adventure</h2>
        <div><%= image_tag "arrow.png", class: :"arrow" %></div>
      </div>
    </div>
  </div>
	
	<div class="container-fluid">
		<div class="row">
		  <div class="col s9 center-align">
			<% @posts.each do |post| %>
				<div id="post-box">
					<h3 id="title"><%= post.title %></h3>
           <% post.images.each do |image| %>
            <%= image_tag image.avatar.url, class: :'post-image' %>
          <% end %>
					<p id="post"><%= post.content %></p>
				</div>
			<% end %>	  	
		  </div>
    <div class="col s2 center-align">
      <%= image_tag "sidebarnu.jpg", class: :"us-image" %>
        <p>Travel. Adventure Seekers. Hiking. Fashion. Coffee. Beer. Food.</p>
        <p>Suggestions? Shoot us an email <strong>info@brewingadventure.com</strong></p>
    </div>
		</div>
	</div>
</body>
</html>